

.container-agendamento{
    display: flex;
    justify-content:center;
    padding: 50px;
}
.title{
  font-size: 0.6rem;
  color:#f2d43d;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 5px;
  padding: 15px;
  margin-left: 1rem;
  font-family: "Glegoo",sans-serif;
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.title-text{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Glegoo",sans-serif;
}


.personal-Data{
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 20px;
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 1rem;
  font-weight: 100;

}
.input-field input{
  font-family: "Roboto Slab", serif;
}
.input-field h2{
  font-size: 1.2rem;
}
input[type=text] {
  outline: none;
  width: 95%;
  border: none;
  padding: 15px;
  margin: 8px 0;
  border-radius: 8px;
}
input[type=tel] {
    outline: none;
    width: 95%;
    border: none;
    padding: 15px;
    margin: 8px 0;
    border-radius: 8px;
  }
.input-select {
  display: flex;
  justify-content: center;
   padding: 15px;
  
   
}

.services{
  display: flex;
  justify-content:center;
  color:white;
  font-family: "Roboto Slab", serif;
  margin: 20px;
}
.services label{
  font-size: 1.2rem;
  margin: 15px;

}


.professionals p{
  color: white;
    margin-left: 20px;
    font-size: 1.2rem;
    font-family: "Roboto Slab", serif;
}
select{
  border: none;
  width: 50%;
  padding: 15px;
  border-radius: 8px;
  font-family: "Roboto Slab", serif;
}
.btn input{
  width: 100%;
  padding: 15px;
  margin-left: 40px;
  margin-bottom: 10px;
  border: none;
  background-color:#f2d43d;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  
}
.calendar {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

input[type="date"] {
    width:44%;
    padding: 15px;
    border: none;
    font-family: "Roboto Slab", serif;
    border-radius: 8px;
}
.hours{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto Slab", serif;
}
.hours ul{
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

 .btn-forms{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
 .btn button{
  width: 100%;
  padding: 15px;
  margin-left: 40px;
  border: none;
  background-color:#f2d43d;
  color: black;
  font-weight: 800;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-cancel input {
  width: 100%;
  padding: 15px;
  margin-left: 40px;
  border: none;
  background-color:#f2d43d;
  color: black;
  font-weight: 800;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  
}

.hours-list button {
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: black;
   border: 1px solid white;
   border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
  }

  .hours-list button:hover {
    border: 1px solid #f2d43d;
  }
    
  .hours-list button.selecionado {
    background-color: #f2d43d;
     border: 2px solid #f2d43d;
    color: black;
  }
  .agenda-cliente{
    font-family: "Roboto Slab", serif;
    color:white;
    background-color:black;
  }
  .agenda-cliente h1{
    text-align: center;
    padding: 10px;
    color: #f2d43d;
    font-family: "Glegoo", sans-serif;
  }
  .agenda-cliente h2{
    text-align: center;
  }
  .agenda-cliente i{
    font-size: 1.5rem;
    margin: 15px;
    color: #f2d43d;
  }
  .agenda-container p{
    text-align: center;
  }
  .agenda-container li{
    text-align: center;
  }
  .agenda-cliente li{
     font-size: 1rem;
  }
  .hours-list button:disabled {
    color: #666666; /* Cor do texto cinza mais escuro */
    border: 1px solid #cccccc; /* Borda cinza */
    cursor: not-allowed; /* Indica que o botão não pode ser clicado */
    text-decoration: line-through;
  }
  
  
  